/* Full Page */

.login-container {
    min-height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Login Card */

.login-card {
    width: 100%;
    max-width: 420px;
    background: #1e293b;
    border-radius: 18px;
    padding: 40px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

/* Logo */

.logo {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 36px;
}

/* Subtitle */

.subtitle {
    text-align: center;
    color: #94a3b8;
    margin-bottom: 30px;
}

/* Form */

.login-form {
    display: flex;
    flex-direction: column;
}

/* Labels */

.login-form label {
    color: white;
    margin-bottom: 8px;
    margin-top: 15px;
}

/* Inputs */

.login-form input {
    padding: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #334155;
    color: white;
    font-size: 16px;
}

/* Login Button */

.login-form button {
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.login-form button:hover {
    background: #2563eb;
}

/* Divider */

.divider {
    text-align: center;
    color: #94a3b8;
    margin: 20px 0;
}

/* Google Button */

.google-btn {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #475569;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.google-btn:hover {
    background: #334155;
}